.app {
  width: 1024px;
  height: 600px;
  overflow: hidden;

  .contentContainer {
    height: 100%;
  }

  .noConnection {
    width: 300px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .errorIcon {
      color: #d32f2f !important;
      width: 160px !important;
      height: 160px !important;
      margin: auto;
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
    }

    .errorMessage {
      margin: auto;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      text-align: center;
      color: #757575;
    }
  }

}
