.app {
  width: 1024px;
  height: 600px;
  overflow: hidden;

  .contentContainer {
    height: 100%;
  }

}

.noConnection {
  text-align: center;
  width: 500px !important;
  margin-top: -45px !important;

  .errorIcon {
    color: #d32f2f !important;
    width: 160px !important;
    height: 160px !important;
  }

  .errorMessage {
    color: #757575;
  }
}
