.healthScreen {

  .healthPaper {
    float: left;
    margin: 20px;
    width: 984px;
    height: 504px;
    > div {
      height: 100%;
    }

    .healthElement {
      padding-top: 16px !important;
      padding-bottom: 14px !important;

      svg {
        margin-top: 8px !important;
        top: 8px !important;
      }
    }
  }
}