.healthScreen {

  .healthPaper {
    float: left;
    margin: 20px;
    width: 984px;
    height: 504px;
    > div {
      height: 100%;
    }

    .healthElement {
      :first-child {
        height: 10px !important;
      }
    }
  }
}